/* GENERAL */
*{
    user-select: none;
}
body{
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 25%, rgba(216,219,213,1) 25%);
    height: 100vh;
}
header{
    height: 50px;
    background-color: #eaeaea;
    padding: 0 5px;
}
.avatar{
    height: 40px;
    width: 40px;
    margin-right: 5px;
}
img{
    object-fit: cover;
}
.main-container{
    width: 80%;
    height: 95vh;
}
.my-icon a{
    color: #b3b7b9;
}
span{
   color: #b3b7b9
}
/* contenuto SX */
aside{
    background-color: green;
    width: 40%;
    height: 100%;
    border-right: 1px solid #ccc ;
}
.silent{
    height: 80px;
    background-color: #8edafc;
}
.silent > .avatar{
    line-height: 40px;
}
.search{
    background-color: #eaeaea;
}
.search div{
    background-color: white;
}
nav{
    height: calc(100% - 130px);
    background-color: white;
    overflow: hidden;
}
ul{
    height: 100%;
    list-style: none;
    overflow: auto;
}
ul li:hover{
    cursor: pointer;
}
.active{
    background-color: lightgray;
}

.my-clock-sx{
    font-size: 0.75rem;
}
/* contenuto DX */
main{
    width: 60%;
}
.main-mex{
    height: calc(100% - 100px);
    background-image: url('../img/mine.jpg');
    background-size: contain;
    overflow: auto;
}
.my-mex{
    width: 200px;
}
.user-mex{
    justify-content: end;
}
.user-mex > div{
    background-color: #d5f9ba;
}
.pc-mex > div{
    background-color: #fdfdfd;
}
.my-clock{
    font-size: 10px;
    color: lightgray;
    font-weight: bold;
}
footer{
    background-color: #f3eeea;
    height: 50px;
}
