<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    
    <div id="app">
        <div class="main-container d-flex position-absolute top-50 start-50 translate-middle">
            <!-- contenuto SX -->
            <aside class="h-100">
                <header class="d-flex align-items-center p-2">
                    <div class="col-6">
                        
                        <!-- mio profilo -->
                        <div class="my-circle d-inline-block">
                            <img src="img/avatar_io.jpg" alt="img/avatar_io.jpg" class="w-100 rounded-circle d-inline-block"> 
                        </div>

                        <div class="name d-inline-block">
                            <h6 class="m-0">Sofia</h6>
                        </div>
                        
                    </div>
                    
                    <div class="col-6 text-end my-icon">
                        <a class="px-2" href="#"><i class="fa-solid fa-circle-notch"></i></a>
                        <a class="px-2" href="#"><i class="fa-solid fa-message"></i></a>
                        <a class="px-2" href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                    </div>
                </header>
                
                <div class="silent d-flex align-items-center p-4">
                    <div class="my-circle d-inline-block bg-white rounded-circle text-center">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>

                    <div class="info-silent ms-2 lh-1">
                        <h6 class="m-0">Ricevi notifiche di nuovi messaggi</h6>
                        <a class="text-secondary" href="#">Attiva notifiche desktop</a>
                    </div>
                </div>

                <nav>
                    <!-- cerca contatto -->
                    <div class="search p-1">
                        <div class="input-group flex-nowrap">
                            <span class=" px-4 bg-white py-2" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input v-model="searchContact" type="text" class="w-100 border-0 py-2" placeholder="Cerca o inizia una nuova chat" >
                        </div>
                    </div>
                    
                    <!-- lista dei contatti -->
                    <ul class="list-style-none p-0">
                        <li class="d-flex justify-content-between p-3 border-bottom" v-for="(contact, index) in inputSearchContacts" :key="index" @click="currentContact = getAvatarId(contact.avatar)" :class="{'active' : currentContact == getAvatarId(contact.avatar)}">
                            <div class="d-flex">
                                <div class="my-circle d-inline-block">
                                    <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name" class="w-100 rounded-circle d-inline-block"> 
                                </div>
            
                                <div class="name d-inline-block lh-1">
                                    <h6 class="m-0 pb-2">{{contact.name}}</h6>
                                    <span>{{ contact.messages[contact.messages.length - 1].message }}</span>
                                </div>
                            </div>
                            
                            <div class="text-end">
                                <span class="my-clock">{{ splitDate(contact.messages[contact.messages.length - 1]) }}</span>
                            </div>
                        </li>

                        <li v-show="inputSearchContacts.length == 0">
                            <h6 class="text-center mt-3">Search not found <i class="fa-solid fa-magnifying-glass"></i></h6>
                        </li>
                    </ul>
                </nav>
            </aside>

            <!-- contenuto DX -->
            <main class="h-100">
                <header class="d-flex justify-content-between align-items-center p-2">
                    <div class="my-header-info-contact">
                        <div class="my-circle d-inline-block">
                            <img :src="`img/avatar${contacts[currentContact].avatar}.jpg`" :alt="contacts[currentContact].name" class="w-100 rounded-circle d-inline-block"> 
                        </div>

                        <div class="name d-inline-block lh-1 align-middle">
                            <h6 class="m-0">{{contacts[currentContact].name}}</h6>
                            <span :class="writing == false ? 'display' : 'd-none'">ultimo accesso oggi alle {{ getLastInteraction(contacts[currentContact].messages) }}</span>
                            <span :class="writing == true ? 'display' : 'd-none'">Sta scrivendo...</span>
                        </div>
                    </div>
                    
                    <div class="text-end my-icon">
                        <a class="px-2" href="#"><i class="fa-solid fa-circle-notch"></i></a>
                        <a class="px-2" href="#"><i class="fa-solid fa-paperclip"></i></a>
                        <a class="px-2" href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                    </div>
                </header>

                <div class="main-mex p-5">
                    <div class="d-flex mb-2" v-for="(message, index) in contacts[currentContact].messages" :class="message.status">
                        <div class="my-mex rounded-3 py-2 px-2 position-relative" >
                            <p class="mb-1 me-3 ms-1 pb-2">{{message.message}}</p>
                            
                            <span class="my-clock pe-1 position-absolute bottom-0 end-0 align-self-end">
                                {{splitDate(message)}}
                            </span>
                            
                            <span class="my-arrow d-none pe-1 position-absolute end-0 top-0" @click="message.viewMex = !message.viewMex">
                                <i class="fa-solid fa-chevron-down"></i>
                            </span>
                        
                            <div class="delete-mex ms-1 position-absolute end-0">
                                <p class="m-0 p-1 d-none border rounded-3 position-relative" :class="{'display' : message.viewMex == true}" @click="deletedMessages(index)">
                                    cancella messaggio
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="d-flex align-items-center">
                    <div class="col text-center my-icon">
                        <a href="#"><i class="fa-regular fa-face-smile"></i></a>
                    </div>
                    <div class="col-10"><input type="text" v-model="writingMex" class="w-100 p-1 border-0" @keyup.enter="addMex"></div>
                    <div class="col text-center my-icon">
                        <a href="#"><i class="fa-solid fa-microphone"></i></a>
                    </div>
                </footer>

            </main>
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>